@using System.Globalization

    <RadzenChart style="width: 100%; height: 100%;" >
        
        <RadzenAreaSeries
            Smooth="true"
            Data="@revenue2023"
            CategoryProperty="Date"
            Title="2023"
            ValueProperty="Revenue"
            RenderingOrder="1"
            StrokeWidth="3"
            Fill="var(--mud-palette-primary)"
            Stroke="var(--mud-palette-primary)">
        </RadzenAreaSeries>

        <RadzenValueAxis Visible="true" Formatter="@FormatarDinDin">
            <RadzenGridLines Visible="true" />
        </RadzenValueAxis>

        <RadzenCategoryAxis Visible="true" Padding="-106"/>

        <RadzenLegend Visible="false" />

    </RadzenChart>

 
@code {
    class DataItem
    {
        public string? Date { get; set; }
        public double Revenue { get; set; }
    }
 
    string FormatarDinDin(object value)
    {
        return ((double)value).ToString("C0", CultureInfo.CreateSpecificCulture("pt-BR"));
    }
 
    DataItem[] revenue2023 = new DataItem[] {
        new DataItem
        {
            Date = "Jan",
            Revenue = 234000
        },
        new DataItem
        {
            Date = "Feb",
            Revenue = 269000
        },
        new DataItem
        {
            Date = "Mar",
            Revenue = 233000
        },
        new DataItem
        {
            Date = "Apr",
            Revenue = 244000
        },
        new DataItem
        {
            Date = "May",
            Revenue = 214000
        },
        new DataItem
        {
            Date = "Jun",
            Revenue = 253000
        },
        new DataItem
        {
            Date = "Jul",
            Revenue = 274000
        },
        new DataItem
        {
            Date = "Aug",
            Revenue = 284000
        },
        new DataItem
        {
            Date = "Sept",
            Revenue = 273000
        },
        new DataItem
        {
            Date = "Oct",
            Revenue = 282000
        },
        new DataItem
        {
            Date = "Nov",
            Revenue = 289000
        },
        new DataItem
        {
            Date = "Dec",
            Revenue = 294000
        }
    };
 
}