<RadzenChart>
    <RadzenDonutSeries Data="@revenue" CategoryProperty="Quarter" ValueProperty="Revenue" TotalAngle="180" StartAngle="180">
    </RadzenDonutSeries>
    <RadzenLegend Position="LegendPosition.Top"/>
</RadzenChart>

 
@code {
    class DataItem
    {
        public string? Quarter { get; set; }
        public double? Revenue { get; set; }
    }
 
    DataItem[] revenue = new DataItem[] {
    new DataItem
    {
    Quarter = "Q1",
    Revenue = 30000
    },
    new DataItem
    {
    Quarter = "Q2",
    Revenue = 40000
    },
    new DataItem
    {
    Quarter = "Q3",
    Revenue = 50000
    },
    new DataItem
    {
    Quarter = "Q4",
    Revenue = 80000
    },
    };
}