<MudContainer Class="pa-0 pt-3">

<MudContainer Class="pa-0 ma-0 d-flex" style="background-color: #f5f5f5; width: 100%; height: 7.3em;">

    <div Class="d-flex justify-center flex-column" style="background-color: var(--mud-palette-primary); width: 10%; height: 7.3em;">
        <MudIcon Class="align-self-center" Icon="@Icons.Material.Filled.LocalAtm" Size="Size.Medium" style="color: white;"/>
        <MudText Class="align-self-center mt-1" style="color: white;"><b>10%</b></MudText>
    </div>

    <div Class="d-flex justify-center flex-column" style="background-color: rgba(255,64,129,1); width: 10%; height: 7.3em;">
        <MudIcon Class="align-self-center" Icon="@Icons.Material.Filled.LocalHospital" Size="Size.Medium" style="color: white;"/>
        <MudText Class="align-self-center mt-1" style="color: white;"><b>10%</b></MudText>
    </div>

    <div Class="d-flex justify-center flex-column" style="background-color: rgba(30,200,165,1); width: 10%; height: 7.3em;">
        <MudIcon Class="align-self-center" Icon="@Icons.Material.Filled.LocalDining" Size="Size.Medium" style="color: white;"/>
        <MudText Class="align-self-center mt-1" style="color: white;"><b>10%</b></MudText>
    </div>

    <div Class="d-flex justify-center flex-column" style="background-color: rgba(33,150,243,1); width: 35%; height: 7.3em;">
        <MudIcon Class="align-self-center" Icon="@Icons.Material.Filled.ShoppingBag" Size="Size.Medium" style="color: white;"/>
        <MudText Class="align-self-center mt-1" style="color: white;"><b>10%</b></MudText>
    </div>

    <div Class="d-flex justify-center flex-column" style="background-color: rgba(0,200,83,1); width: 35%; height: 7.3em;">
        <MudIcon Class="align-self-center" Icon="@Icons.Material.Filled.Spoke" Size="Size.Medium" style="color: white;"/>
        <MudText Class="align-self-center mt-1" style="color: white;"><b>10%</b></MudText>
    </div>

</MudContainer>

</MudContainer>
 
@code {

    private List<Transacao> Transacoes = new List<Transacao>(){
        new Transacao(8, 1, "Salário", 76.78, 3, 0, false, DateTime.Today),
        new Transacao(9, 1, "Dividendos", 37.40, 4, 50, true, DateTime.Today),
        new Transacao(10, 1, "Agiotagem", 76.78, 3, 50, false, DateTime.Today),
        new Transacao(11, 1, "Pensão Alimentícia", 37.40, 2, 25, true, DateTime.Today),
        new Transacao(12, 1, "Abastecimento", 45.00, 5, 0, true, DateTime.Today)
    };
}