<MudContainer Class="pa-0 align-content-center align-center">
    <MudChart Class="align-self-center pt-5" ChartType="ChartType.Pie" InputData="@data" InputLabels="@labels"/>
</MudContainer>

@code {
    double[] data = { 77, 25, 20, 5 , 78};
    string[] labels = { "Alimentação",
                        "Saúde",
                        "Outros",
                        "Salário",
                        "Compras",
                        "Benefícios" };
}