<MudContainer Class="pa-0 ma-0 d-flex pt-1">

<MudToggleIconButton
    @bind-Toggled="@Visible"
    Icon="@Icons.Material.Filled.Visibility"
    Title="Esconder Saldo" 
    ToggledIcon="@Icons.Material.Filled.VisibilityOff"
    ToggledTitle="Visualizar Saldo"
    Size="Size.Medium" ToggledSize="Size.Medium"
    style="color: rgba(255,255,255,1);"/>

                     
<MudText style="color: rgba(255,255,255,1);" Class="pt-1 pl-2" Typo="Typo.h4"><b>@(Visible ? "_" : valor(value))</b></MudText>


</MudContainer>

@code{
    public bool Visible { get; set; }

    public double value = 135184.48;

    // FORMATA O CAMPO 'VALOR' PARA O FORMATO DE DINHEIRO
    private string valor(double Valor)
    {
        return Valor.ToString("C");
    }
}