<MudContainer Class="pa-0 ma-0 d-flex pt-1">



                     
<MudText Class="pt-1 pl-0" style="color: rgb(0,163,68);" Typo="Typo.h4" Color="Color.Default"><MudIcon Icon="@Icons.Material.Filled.ArrowDropDown" Size="Size.Medium" /><b>@valor(value)</b></MudText>


</MudContainer>

@code{
    public bool Visible { get; set; }

    public double value = 1641.46;

    // FORMATA O CAMPO 'VALOR' PARA O FORMATO DE DINHEIRO
    private string valor(double Valor)
    {
        return Valor.ToString("C");
    }
}