<MudContainer Class="pa-0 mb-3">

    @{

        foreach (Transacao transacao in Transacoes)
        {
            @* UNIDADE DE TRANSAÇÃO *@
            <MudContainer Class="pa-1 mt-2 d-flex align-center" style=@("background-color: rgba(" + CorTipo(transacao.Tipo) + ",0.05); border-radius: 8px; border: 1px solid rgb(" + CorTipo(transacao.Tipo) + ");")>

                @* ÍCONE *@
                <div>
                    <MudIcon Style=@("font-size: 2.5rem; color: rgb(" + CorTipo(transacao.Tipo) + ");") Class="ml-4 mt-1" Icon=@CategoriaIcone(transacao.CategoriaId)/>
                </div>

                @* DESCRIÇÃO *@
                <MudContainer Class="d-flex flex-column flex-grow-1 pa-0 pl-4">
                    @* LINHA DE CIMA *@
                    <div Class="pa-0 d-flex ma-0">
                        @* TEXTO DESCRIÇÃO *@
                        <MudContainer Class="pa-0">
                            <MudText Class="" Style=@("padding-top: 0.12em; color: rgb(" + CorTipo(transacao.Tipo) + ");") Typo="Typo.body1"><b>@transacao.Descricao</b></MudText>
                        </MudContainer>
                        @* RECORRÊNCIA *@
                        <MudIcon Class="ml-1 mr-1 mt-1" hidden=@(transacao.Recorrencia > 0 ? false : true) Icon="@Icons.Material.Filled.Autorenew" Style=@("color: rgb(" + CorTipo(transacao.Tipo) + ");") Size="Size.Small"/>                    
                    </div>

                    @* LINHA DE BAIXO *@
                    <div Class="pa-0 d-flex ma-0">
                        @* VALOR *@
                        <div Class="pa-0">
                            <MudText Typo="Typo.h6" Style=@("color: rgb(" + CorTipo(transacao.Tipo) + ");")><b>@valor(transacao.Valor)</b></MudText>
                        </div>

                        <MudSpacer />

                        @* DATA *@
                        <div Class="d-flex pa-0 mt-3 mr-2">
                            <MudText Typo="Typo.body2" Style=@("color: rgb(" + CorTipo(transacao.Tipo) + ");")><b><i>@transacao.DataTransa?.ToString("dd/MM/yyyy")</i></b></MudText>
                        </div>

                    </div>

                </MudContainer>

            </MudContainer>
        }

    }

</MudContainer>


@code{
    private List<Transacao> Transacoes = new List<Transacao>(){
        new Transacao(8, 1, "Salário", 76.78, 3, 0, false, DateTime.Today),
        new Transacao(9, 1, "Dividendos", 37.40, 4, 50, true, DateTime.Today),
        new Transacao(10, 1, "Agiotagem", 76.78, 3, 50, false, DateTime.Today),
        new Transacao(11, 1, "Pensão Alimentícia", 37.40, 2, 25, true, DateTime.Today),
        new Transacao(12, 1, "Abastecimento", 45.00, 5, 0, true, DateTime.Today)
    };


    // ----------------------------- IMPRESSÃO DA LISTA -----------------------------------------    

    // FORMATA O CAMPO 'CATEGORIA', ADICIONA O ÍCONE DE ACORDO COM O CÓDIGO
    private string CategoriaIcone(int IdCategoria)
    {
        switch(IdCategoria) 
        {
        case 0:
            // Salário
            return @Icons.Material.Filled.LocalAtm;
        case 1:
            // Benefícios
            return @Icons.Material.Filled.LocalAtm;
        case 2:
            // Saúde
            return @Icons.Material.Filled.LocalHospital;
        case 3:
            // Alimentação
            return @Icons.Material.Filled.LocalDining;
        case 4:
            // Compras
            return @Icons.Material.Filled.ShoppingBag;
        case 5:
            // Outros
            return @Icons.Material.Filled.Spoke;
        default:
            return "???";
        }
    }
       
    // FORMATA A COR DO CAMPO 'VALOR' DE ACORDO COM O TIPO DE TRANSAÇÃO
    private string CorTipo(bool TipoTransa)
    {
        if(TipoTransa == false){
            // Vermelho
            return "246,96,85";
        }else{
            // Verde
            return "0,163,68";
        }

    }
    
    // FORMATA O CAMPO 'VALOR' PARA O FORMATO DE DINHEIRO
    private string valor(double Valor)
    {
        return Valor.ToString("C");
    }
    


}