<?xml version="1.0" standalone="no"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 20010904//EN"
 "http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd">
<svg version="1.0" xmlns="http://www.w3.org/2000/svg"
 width="100pt" viewBox="0 0 2000.000000 363.000000"
 preserveAspectRatio="xMidYMid meet">

<g transform="translate(0.000000,363.000000) scale(0.100000,-0.100000)"
fill="--mud-palette-primary" stroke="none">
<path d="M643 3615 c-102 -31 -180 -103 -231 -212 l-27 -58 -3 -1342 -2 -1343
-175 0 -175 0 0 -154 c0 -125 4 -166 20 -218 27 -87 86 -167 161 -217 116 -77
-101 -72 2485 -69 l2319 3 67 33 c74 36 145 100 183 165 41 72 55 147 55 309
l0 148 -175 0 -175 0 0 47 c0 47 -2 49 -97 145 l-96 97 -51 -46 c-61 -55 -136
-92 -205 -100 l-51 -6 0 -68 0 -69 -650 0 -650 0 0 -26 c0 -40 -30 -94 -64
-115 -29 -18 -57 -19 -431 -19 -379 0 -402 1 -432 20 -38 23 -63 67 -63 109
l0 31 -647 2 -648 3 -3 1233 -2 1232 1790 0 1790 0 0 -234 c0 -213 2 -234 18
-241 9 -4 100 -36 202 -72 102 -36 209 -73 238 -83 l53 -19 -3 437 -3 437 -32
66 c-39 79 -102 140 -181 177 l-57 27 -2005 2 c-1646 1 -2013 -1 -2047 -12z"/>
<path d="M7299 2760 c-114 -60 -148 -200 -76 -309 72 -108 262 -109 334 -2 99
147 5 332 -168 331 -33 -1 -68 -8 -90 -20z"/>
<path d="M16150 1785 l0 -915 190 0 190 0 0 183 0 182 88 87 87 87 148 -253
c82 -140 154 -261 160 -270 11 -14 38 -16 234 -14 l221 3 -254 403 -254 403
240 251 c132 138 240 254 240 259 0 5 -94 9 -209 9 l-208 0 -244 -258 -244
-259 -3 509 -2 508 -190 0 -190 0 0 -915z"/>
<path d="M5840 1735 l0 -865 565 0 565 0 0 160 0 160 -367 2 -368 3 -3 703 -2
702 -195 0 -195 0 0 -865z"/>
<path d="M10590 2440 l0 -160 260 0 260 0 0 -705 0 -705 195 0 195 0 2 703 3
702 263 3 262 2 0 160 0 160 -720 0 -720 0 0 -160z"/>
<path d="M1820 2565 c-6 -15 -10 -51 -10 -81 l0 -55 -66 -30 c-118 -53 -184
-133 -205 -245 -29 -157 60 -276 276 -365 131 -55 182 -87 201 -127 17 -37 12
-66 -20 -101 -55 -62 -166 -69 -303 -21 -49 17 -94 32 -102 33 -20 3 -51 -83
-54 -147 l-2 -51 45 -22 c25 -13 77 -30 115 -39 101 -23 100 -21 103 -100 2
-39 8 -72 15 -76 18 -11 125 -10 148 2 16 9 19 22 19 79 0 78 5 84 92 124 75
33 141 96 175 166 38 78 38 180 0 263 -42 93 -95 135 -257 208 -159 71 -200
103 -200 156 0 93 141 119 310 58 37 -13 70 -24 73 -24 6 0 41 104 51 152 11
49 -17 66 -181 108 -47 12 -51 19 -55 105 l-3 50 -78 3 c-75 3 -77 2 -87 -23z"/>
<path d="M2637 2443 c-12 -12 -8 -198 5 -211 9 -9 155 -12 594 -12 516 0 584
2 598 16 20 19 23 183 4 202 -9 9 -157 12 -603 12 -326 0 -595 -3 -598 -7z"/>
<path d="M4100 2350 c-11 -11 -20 -24 -20 -29 0 -8 330 -987 370 -1098 7 -19
19 -33 29 -33 9 0 77 61 151 135 74 74 142 135 150 135 8 0 105 -90 215 -200
110 -110 204 -200 210 -200 19 0 175 165 175 185 0 13 -74 94 -200 220 -110
110 -200 204 -200 210 0 6 63 73 140 150 77 77 139 146 138 154 -2 9 -205 83
-557 203 -304 103 -559 188 -567 188 -8 0 -23 -9 -34 -20z"/>
<path d="M8285 2204 c-293 -48 -451 -234 -405 -479 30 -157 136 -241 413 -324
216 -65 267 -97 267 -171 0 -48 -21 -75 -75 -96 -53 -20 -173 -15 -269 11 -63
17 -199 79 -253 115 l-32 21 -61 -122 -62 -122 29 -23 c52 -43 188 -104 289
-129 279 -71 555 -25 698 117 73 73 99 142 100 264 0 83 -2 96 -32 157 -19 39
-50 81 -75 103 -59 51 -178 105 -342 154 -145 44 -217 77 -235 110 -18 34 -12
85 13 108 75 71 252 50 475 -55 30 -14 57 -21 61 -17 5 5 36 61 69 126 l62
116 -83 41 c-119 59 -254 91 -402 96 -66 2 -133 1 -150 -1z"/>
<path d="M9661 2200 c-168 -24 -299 -86 -407 -194 -123 -124 -174 -247 -181
-441 -6 -149 11 -238 67 -352 98 -198 285 -322 536 -353 241 -30 481 41 628
186 106 105 167 233 187 394 43 355 -154 655 -486 740 -90 23 -254 32 -344 20z
m221 -310 c92 -26 182 -120 213 -223 21 -71 21 -215 -1 -280 -32 -97 -92 -169
-173 -210 -66 -32 -217 -32 -278 1 -134 71 -201 204 -190 377 11 171 97 293
237 336 37 11 150 10 192 -1z"/>
<path d="M12920 2192 c-108 -28 -220 -107 -272 -191 l-23 -36 -5 115 -5 115
-187 3 -188 2 0 -665 0 -665 190 0 189 0 3 367 3 368 26 55 c14 31 40 72 57
91 60 69 188 119 302 119 l50 0 0 170 0 170 -37 -1 c-21 0 -67 -8 -103 -17z"/>
<path d="M13675 2200 c-33 -6 -100 -21 -150 -35 -96 -28 -275 -102 -275 -115
0 -15 111 -240 119 -240 4 0 35 13 68 29 118 58 197 76 323 76 127 0 155 -9
218 -68 32 -31 62 -105 62 -152 0 -22 -2 -22 -242 -28 -336 -8 -430 -34 -540
-149 -172 -180 -100 -511 135 -621 187 -88 469 -50 606 81 l41 39 0 -74 0 -73
185 0 185 0 0 459 c0 266 -4 481 -10 511 -32 169 -157 295 -340 346 -67 18
-302 27 -385 14z m365 -822 c0 -80 -24 -133 -80 -181 -62 -53 -134 -77 -228
-77 -91 0 -148 22 -182 70 -41 58 -36 163 10 205 40 37 89 44 288 45 l192 0 0
-62z"/>
<path d="M15199 2201 c-361 -51 -585 -334 -566 -715 14 -308 184 -526 472
-607 110 -31 303 -31 420 0 146 39 276 119 342 213 l32 45 -130 87 -131 87
-38 -44 c-24 -27 -63 -55 -102 -73 -56 -26 -74 -29 -163 -29 -92 0 -104 2
-153 29 -187 104 -231 429 -81 599 58 67 129 98 221 99 119 0 207 -32 272
-101 17 -17 33 -31 38 -31 4 0 65 41 135 90 l127 90 -79 78 c-90 88 -167 131
-291 162 -88 23 -242 33 -325 21z"/>
<path d="M18123 2199 c-153 -23 -280 -86 -385 -191 -122 -123 -177 -273 -178
-484 0 -204 54 -348 180 -474 152 -154 366 -219 617 -190 173 20 306 77 409
174 l55 51 -100 99 -100 99 -35 -31 c-163 -142 -416 -150 -550 -16 -36 36 -96
143 -96 172 0 9 103 12 482 12 l481 0 -6 123 c-17 352 -170 570 -451 642 -75
19 -244 27 -323 14z m252 -293 c86 -41 143 -120 160 -223 l7 -43 -306 0 -306
0 6 28 c23 100 94 195 177 236 71 36 189 37 262 2z"/>
<path d="M19830 2192 c-107 -28 -205 -96 -266 -184 l-29 -41 -5 114 -5 114
-187 3 -188 2 0 -665 0 -665 190 0 189 0 3 367 3 368 26 55 c14 31 40 72 57
91 60 69 188 119 302 119 l50 0 0 170 0 170 -37 -1 c-21 0 -67 -8 -103 -17z"/>
<path d="M7200 1535 l0 -665 190 0 190 0 0 665 0 665 -190 0 -190 0 0 -665z"/>
<path d="M2648 1969 c-15 -8 -18 -25 -18 -110 0 -98 0 -100 26 -109 15 -6 246
-10 587 -10 493 0 565 2 585 16 20 14 22 24 22 104 0 67 -4 92 -16 104 -14 14
-81 16 -592 16 -373 -1 -583 -4 -594 -11z"/>
<path d="M2642 1488 c-16 -16 -16 -190 0 -206 9 -9 156 -12 600 -12 678 0 608
-14 608 119 0 59 -4 84 -16 95 -14 14 -82 16 -598 16 -439 0 -585 -3 -594 -12z"/>
</g>
</svg>
