﻿@page "/login"
@using FrontEnd_CDN.Components.Layout
@using FrontEnd_CDN.Components.Layout.Before_Login_Layouts
@using FrontEnd_CDN.Components.Layout.LoginSlides
@using FrontEnd_CDN.Components.Layout.Logotipos

<MudContainer Class="d-flex pa-0">
    <MudPaper Class="pa-0 ma-auto d-flex" Elevation="20" style="width: 50vw;">
        @* FORMULÁRIO *@
        <MudContainer Class="Esq pa-6" style="width: 50%; height: 45em;">
            
            <Logotipo />

            @* CARROSSEL ESPECIAL *@
            <MudCarousel @ref="_carousel" Class="mud-width-full pt-3" Style="height:100%;"  ShowArrows="false" ShowBullets="false" AutoCycle="false" TData="object">
                
                @* LOGIN *@
                <MudCarouselItem Class="pa-5" Transition="@Transition.Slide">
                    <MudText Typo="Typo.h4" Class="pt-6"><b>Entrar</b></MudText>
                    <MudText Typo="Typo.caption" Class="pb-4">Não tem conta? <MudLink Color="Color.Primary"
                            Typo="Typo.caption" Class="mt-6"
                            OnClick="@(_carousel.Next)"><b>Crie uma agora!</b></MudLink>
                    </MudText>

                    <MudForm>
                        <MudText Typo="Typo.h6" Class="pt-5"><b>Email</b></MudText>
                        <MudTextField T="string" Required="true" Placeholder="usuario_gostosao@email.com"
                            RequiredError="Como vai fazer login sem email? Seu burro!" Class="d-flex mt-0 pt-0" Variant="MudBlazor.Variant.Outlined" />

                        <MudText Typo="Typo.h6" Class="pt-5"><b>Senha</b></MudText>
                        <MudTextField @bind-Value="Password" Variant="MudBlazor.Variant.Outlined" Placeholder="seunome@123" InputType="@PasswordInput"
                            Adornment="Adornment.End" Required="true" RequiredError="Como saberemos se você é você mesmo?" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="ButtonTestclick"
                            AdornmentAriaLabel="Show Password" />


                        <MudContainer Class="d-flex justify-space-between" style="padding: 0;">
                            <MudCheckBox @bind-Value="@KeepLoggedIn" Dense="true" Label="Logado para todo sempre!" Class="mt-5"
                                style="position: relative; left: -6px;"></MudCheckBox>
                            <MudSpacer />
                            <MudLink Color="Color.Default" Class="mt-6"><b>Tá com amnésia?</b></MudLink>


                        </MudContainer>

                        <MudButton @onclick="() => LoginBTN(typeof(Layout.After_Login_Layouts.AfterLoginLayout))" Href="dashboard" Variant="MudBlazor.Variant.Filled" DisableElevation="true" Color="Color.Primary" Class="mt-5 mb-5"
                            FullWidth="true"><b>entrar</b></MudButton>


                    </MudForm>
                </MudCarouselItem>

                @* CREATE ACCOUNT *@
                <MudCarouselItem Class="pa-5" Transition="@Transition.Slide">
                    <MudText Typo="Typo.h4" Class="pt-6"><b>Criar uma conta</b></MudText>
                    <MudText Typo="Typo.caption" Class="pb-4">Já tem uma conta? <MudLink Color="Color.Primary"
                        Typo="Typo.caption"
                        OnClick="@(_carousel.Previous)"
                        Class="mt-6"><b>Entre agora!</b></MudLink>
                    </MudText>

                    <MudForm>

                        <MudText Typo="Typo.h6" Class="pt-5"><b>Nome</b></MudText>
                        <MudTextField T="string" Required="true" Placeholder="Fulano de Tal Beltrano da Silva"
                            RequiredError="Name is required!" Class="d-flex mt-0 pt-0" Variant="MudBlazor.Variant.Outlined" />

                        <MudText Typo="Typo.h6" Class="pt-5"><b>Email</b></MudText>
                        <MudTextField T="string" Required="true" Placeholder="usuario_gostosao@email.com"
                            RequiredError="Email is required!" Class="d-flex mt-0 pt-0" Variant="MudBlazor.Variant.Outlined" />

                        <MudText Typo="Typo.h6" Class="pt-5"><b>Senha</b></MudText>
                        <MudTextField @bind-Value="Password" Required="true" RequiredError="Password is required!" Variant="MudBlazor.Variant.Outlined" Placeholder="seunome@123" InputType="@PasswordInput"
                            Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="ButtonTestclick"
                            AdornmentAriaLabel="Show Password" />
                        
                        <MudButton Variant="MudBlazor.Variant.Filled" DisableElevation="true" Color="Color.Primary" Class="mt-5 mb-5" FullWidth="true">
                            <b>criar conta</b>
                        </MudButton>

                    </MudForm>
                </MudCarouselItem>

            </MudCarousel>

        </MudContainer>

        @* SLIDES *@
        <MudContainer Class="Dir pa-0" style="width: 50%;">

            <MudCarousel Class="mud-width-full" Style="height:100%;" ShowArrows="true" ShowBullets="true" BulletsColor="Color.Primary"
                EnableSwipeGesture="true" AutoCycle="true" TData="object">

                <MudCarouselItem Transition="@Transition.Slide">
                    <SlideC1 />
                </MudCarouselItem>

                <MudCarouselItem Transition="@Transition.Slide">
                    <SlideC2 />
                </MudCarouselItem>

                <MudCarouselItem Transition="@Transition.Slide">
                    <SlideC3 />
                </MudCarouselItem>

            </MudCarousel>

        </MudContainer>
    </MudPaper>

</MudContainer>

@code {

    [CascadingParameter(Name = "N2")] public FrontEnd_CDN.Components.Routes? MyApp { get; set; }

    void LoginBTN(Type layoutType)
    {
        MyApp?.SetLayout(layoutType);
    }

    //-------------------------------------------------------------------------

    public bool Login_Create_Toggle { get; set; } = true;
    public bool KeepLoggedIn { get; set; } = true;
    public double? Amount { get; set; }
    public int? Weight { get; set; }
    public string? Password { get; set; }
    bool isShow;
    InputType PasswordInput = InputType.Password;
    string PasswordInputIcon = Icons.Material.Filled.VisibilityOff;


    void ButtonTestclick()
    {

        @if (isShow)
        {
            isShow = false;
            PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
            PasswordInput = InputType.Password;
        }

        else
        {
            isShow = true;
            PasswordInputIcon = Icons.Material.Filled.Visibility;
            PasswordInput = InputType.Text;
        }

    }

    private MudCarousel<object> _carousel;
}