<MudDialog>

    <TitleContent>
        <MudContainer Class="d-flex pa-0">
            <MudIcon Icon="@Icons.Material.Filled.Delete" Size="Size.Large" />
            <MudText Typo="Typo.h6" Class="pt-1 pl-2"><b>Excluir</b></MudText>
        </MudContainer>
    </TitleContent>

    <DialogContent>
        <MudContainer Class="pb-10 pt-6">
            <MudText><b>Tem certeza que deseja excluir a transação? Este processo não pode ser desfeito.</b></MudText>
        </MudContainer>
    </DialogContent>

    <DialogActions>
        <MudButton OnClick="Cancel"><b>Cancel</b></MudButton>
        <MudButton Variant="MudBlazor.Variant.Outlined" Color="Color.Error" OnClick="Submit"><b>APAGAR</b></MudButton>
    </DialogActions>

</MudDialog>


@code {
    @using System.Globalization
    [CascadingParameter] MudDialogInstance? MudDialog { get; set; }

    [Parameter] public int TransaID { get; set; }

    void Submit() => MudDialog?.Close(DialogResult.Ok(true));
    void Cancel() => MudDialog?.Cancel();

}