<MudDialog>
    <TitleContent>
        <MudContainer Class="d-flex pa-0">
            <MudIcon Icon="@Icons.Material.Filled.AddChart" Size="Size.Large" />
            <MudText Typo="Typo.h6" Class="pt-1 pl-2"><b>New Transaction</b></MudText>
        </MudContainer>
    </TitleContent>

    <DialogContent>
        <MudContainer Class="pb-10 pt-6">

            <MudText Typo="Typo.h6" Class="pa-0"><b>Description</b></MudText>

            <MudTextField @bind-Value="TextValue" Variant="MudBlazor.Variant.Outlined"></MudTextField>

            <MudContainer Class="d-flex pa-0">
                <MudContainer Class="pa-0 mr-5">
                    <MudText Typo="Typo.h6" Class="pt-5"><b>Type of Transaction</b></MudText>
                    <MudContainer Class="d-flex pa-2">

                        <MudSwitch
                        @bind-Value="@Basic_Switch1"
                        ThumbIcon="@(Basic_Switch1==true ? Icons.Material.Filled.AttachMoney : Icons.Material.Filled.MoneyOff)"
                        ThumbIconColor="@(Basic_Switch1==true ? Color.Success : Color.Error)"
                        Size="Size.Large"> @(Basic_Switch1==true ? "Income" : "Expense")</MudSwitch>

                    </MudContainer>
                </MudContainer>

                <MudContainer Class="pa-0">
                    <MudText Typo="Typo.h6" Class="pt-5"><b>Value of Transaction</b></MudText>

                    <MudTextField @bind-Value="Amount" Variant="MudBlazor.Variant.Outlined" Adornment="Adornment.Start"
                        AdornmentIcon="@Icons.Material.Filled.AttachMoney" />

                </MudContainer>
            </MudContainer>

            <MudContainer Class="d-flex pa-0">
                <MudContainer Class="pa-0 mr-5">

                    <MudText Typo="Typo.h6" Class="pt-5"><b>Date of Transaction</b></MudText>
                    <MudTextField T="DateTime?" Variant="MudBlazor.Variant.Outlined" Format="yyyy-MM-dd" InputType="InputType.Date" />
                </MudContainer>

                <MudContainer Class="pa-0">
                    <MudText Typo="Typo.h6" Class="pt-5"><b>Category of Transaction</b></MudText>
                    <MudSelect T="string" Placeholder="Ex: Salary" Variant="MudBlazor.Variant.Outlined" AnchorOrigin="Origin.BottomCenter">

                        <MudSelectItem Value="@("Salário")" >
                            <MudContainer Class="pa-0 ma-0 d-flex">
                                <MudIcon Icon="@Icons.Material.Filled.LocalAtm" Size="Size.Small" />
                                <MudText Class="ml-2">Salário</MudText>
                            </MudContainer>
                        </MudSelectItem>

                        <MudSelectItem Value="@("Benefícios")" >
                            <MudContainer Class="pa-0 ma-0 d-flex">
                                <MudIcon Icon="@Icons.Material.Filled.LocalAtm" Size="Size.Small" />
                                <MudText Class="ml-2">Benefícios</MudText>
                            </MudContainer>
                        </MudSelectItem>

                        <MudSelectItem Value="@("Saúde")" >
                            <MudContainer Class="pa-0 ma-0 d-flex">
                                <MudIcon Icon="@Icons.Material.Filled.LocalHospital" Size="Size.Small" />
                                <MudText Class="ml-2">Saúde</MudText>
                            </MudContainer>
                        </MudSelectItem>

                        <MudSelectItem Value="@("Alimentação")" >
                            <MudContainer Class="pa-0 ma-0 d-flex">
                                <MudIcon Icon="@Icons.Material.Filled.LocalDining" Size="Size.Small" />
                                <MudText Class="ml-2">Alimentação</MudText>
                            </MudContainer>
                        </MudSelectItem>

                        <MudSelectItem Value="@("Compras")" >
                            <MudContainer Class="pa-0 ma-0 d-flex">
                                <MudIcon Icon="@Icons.Material.Filled.ShoppingBag" Size="Size.Small" />
                                <MudText Class="ml-2">Compras</MudText>
                            </MudContainer>
                        </MudSelectItem>

                        <MudSelectItem Value="@("Outros")" >
                            <MudContainer Class="pa-0 ma-0 d-flex">
                                <MudIcon Icon="@Icons.Material.Filled.Spoke" Size="Size.Small" />
                                <MudText Class="ml-2">Outros</MudText>
                            </MudContainer>
                        </MudSelectItem>
                    </MudSelect>
                </MudContainer>
            </MudContainer>

            <MudContainer Class="pa-0">
                <MudText Typo="Typo.h6" Class="pt-5"><b>Recurrency</b></MudText>
                <MudSlider Class="pa-2" TickMarks="true" TickMarkLabels="@labels" Step="25" Value="0" Size="Size.Medium"/>
            </MudContainer>

        </MudContainer>

    </DialogContent>

    <DialogActions>
        <MudButton OnClick="Cancel"><b>Cancel</b></MudButton>
        <MudButton Variant="MudBlazor.Variant.Outlined" Color="Color.Success" OnClick="Submit"><b>Create</b></MudButton>
    </DialogActions>

</MudDialog>


@code {
    @using System.Globalization
    [CascadingParameter] MudDialogInstance? MudDialog { get; set; }

    public string? TextValue { get; set; }
    public double? Amount { get; set; }

    public bool Basic_Switch1 { get; set; } = false;

    void Submit() => MudDialog?.Close(DialogResult.Ok(true));
    void Cancel() => MudDialog?.Cancel();

    public CultureInfo _de = CultureInfo.GetCultureInfo("de-DE");

    public double? _valueDe = 1234.56;

    public IMask mask1 = new RegexMask(@"(\d)(?=(\d{3})+(?!\d))");
    string[] labels = new string[] { "None","Daily", "Weekly", "Monthly", "Annually"};

    public bool Label_CheckBox1 { get; set; } = true;


    const string real = @"<svg viewBox='0 0 122.88 98'><title>brazil-real</title><path d='M87.71,88.84l-1-.06q-3.37-.21-6.65-.64t-6.27-1q-3-.53-5.79-1.28V69.37q3.64.33,7.88.54c2.83.14,5.68.25,8.58.32s5.59.11,8.1.11a27,27,0,0,0,5.89-.54A7.12,7.12,0,0,0,102,68.09a4.34,4.34,0,0,0,1.18-3.22V63.58a4,4,0,0,0-1.66-3.53,6.56,6.56,0,0,0-3.91-1.18H91.89Q79.45,58.87,73,53.4T66.59,35.06V31.52q0-11.79,7.07-17.63,5.3-4.36,14-5.47V0H99.29V8.18c1.45.08,2.87.2,4.24.34Q108,9,111.89,9.7t7,1.45V27.66c-3.29-.28-7-.51-11.1-.69s-7.84-.27-11.2-.27a29.76,29.76,0,0,0-5.36.43,6.74,6.74,0,0,0-3.65,1.71,5.09,5.09,0,0,0-1.28,3.76v1.07A4.94,4.94,0,0,0,88,37.74a8.26,8.26,0,0,0,5.26,1.4h7.07q7.52,0,12.49,2.84a18.54,18.54,0,0,1,7.51,7.72,23.82,23.82,0,0,1,2.52,11.1v3.54q0,10.18-3.54,15.54a17.35,17.35,0,0,1-10.08,7.24,50,50,0,0,1-10,1.68V98H87.71V88.84ZM0,88.35V8.69H34A34.19,34.19,0,0,1,43.64,10a18.44,18.44,0,0,1,7.61,4.34,20.08,20.08,0,0,1,5,8.21,40.4,40.4,0,0,1,1.77,13,37.9,37.9,0,0,1-.86,8.58,23.06,23.06,0,0,1-2.3,6.17,16.25,16.25,0,0,1-3.44,4.23,26.38,26.38,0,0,1-4.23,3L61,88.35H39.89L28.74,60.9H20.8V88.35Zm20.8-44h9.44a8.58,8.58,0,0,0,3-.48,5.24,5.24,0,0,0,2.2-1.56,6.72,6.72,0,0,0,1.34-2.73,16.6,16.6,0,0,0,.43-4,15.94,15.94,0,0,0-.43-4,5.14,5.14,0,0,0-3.54-3.86,9.69,9.69,0,0,0-3-.43H20.8V44.39Z'/></svg>";
}