﻿<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        @* DESCENDO A HIERARQUIA *@
        <CascadingValue Value="this" Name="N1">
            <RouteView RouteData="@routeData" DefaultLayout="this.LayoutType" />
        </CascadingValue>

        <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)" />
    </Found>
</Router>

@code {
    private Type LayoutType = typeof(Layout.Before_Login_Layouts.BeforeLoginLayout);

    public void SetLayout(Type layout)
    {
        if (layout != LayoutType)
        {
            this.LayoutType = layout;
            StateHasChanged();
        }
    }
}