﻿@inherits LayoutComponentBase
@using FrontEnd_CDN.Components
@using FrontEnd_CDN.Components.Pages
@using FrontEnd_CDN.Components.Pages.Before_Login_Pages

<MudThemeProvider @bind-IsDarkMode="@_isDarkMode"/>

<MudDialogProvider/>

<MudLayout style="height: 100vh; background-color: #e3e3e3; padding: 0;" Class="d-flex align-content-center" >
    @* DESCENDO A HIERARQUIA *@
    <CascadingValue Value="@n1" Name="N2">
        <Login />
    </CascadingValue>
</MudLayout>

@code {

    @* RECEBENDO O VALOR DA HIERARQUIA ACIMA *@
    [CascadingParameter(Name = "N1")] public FrontEnd_CDN.Components.Routes n1 { get; set; }

    private bool _isDarkMode;

}