@using FrontEnd_CDN.Components.Layout
@using FrontEnd_CDN.Components.Layout.LoginSlides

<MudContainer Class="d-flex pa-0" style="height:100%; background-color: #ffffff; background-image: url(images//carrossel//image3.jpg); background-repeat: no-repeat; background-size: cover; background-position: center;" >
    <MudContainer Class="align-self-end pb-15 text-white" style="background-color: var(--mud-palette-primary);" >
        <MudText Typo="Typo.h5" Align="Align.Center" Class="pt-6 pb-0 " Style="color:white"><b>Tenha bom-senso</b></MudText>
        <MudText Typo="Typo.subtitle1" Align="Align.Center" Class="pt-0 mt-0 " Style="color:white">Para gastar mais, será necessário ganhar mais primeiro, caso contrário ficará endividado.</MudText>
    </MudContainer>
</MudContainer>

