﻿<MudNavMenu Bordered="true" Color="Color.Surface" >
    <MudDivider />

    <MudNavLink IconColor="Color.Surface" Href="dashboard"        Match="NavLinkMatch.All"    Icon="@Icons.Material.Filled.Dashboard">
        <b>Dashboard</b>
    </MudNavLink>
    
    <MudNavLink IconColor="Color.Surface" Href="transactions" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.FormatListNumbered">
        <b>Transações</b>
    </MudNavLink>

    <MudNavLink IconColor="Color.Surface" Href="wallet" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.AccountBalanceWallet">
        <b>Carteira</b>
    </MudNavLink>


    @* <MudDivider/> *@

</MudNavMenu>
