@using MudBlazor
@using FrontEnd_CDN.Components.Layout
@using FrontEnd_CDN.Components.Layout.Dialogo
@using FrontEnd_CDN.Components
@inject IDialogService DialogService
@inject ISnackbar Snackbar

@* TABELA *@
<MudTable Items="@Transacoes" Hover="true" @bind-SelectedItem="selectedItem1" Outlined="true" Striped="false" SortLabel="Sort By" Filter="new Func<Transacao,bool>(FilterFunc1)"
    CanCancelEdit="true"
    T="Transacao"
    CommitEditTooltip="Commit Edit"
    OnCommitEditClick="@(() => Snackbar.Add("Commit Edit Handler Invoked"))"
    RowEditPreview="BackupItem" RowEditCancel="ResetItemToOriginalValues"
    OnRowMouseEnter="RowMouseEnterEvent" OnRowMouseLeave="RowMouseLeaveEvent"
    FixedHeader="true"
    Breakpoint="Breakpoint.Sm"
    EditTrigger="TableEditTrigger.EditButton">

    @* BARRA DE FERRAMENTAS *@
    <ToolBarContent>
        <MudButton Variant="MudBlazor.Variant.Outlined" aria-label="new transaction" @onclick="CriarTransa_Dialog" StartIcon="@Icons.Material.Filled.AddCircle" Class="mt-1" Color="Color.Primary"><b>Nova Movimentação</b></MudButton>
        <MudSpacer />
        <MudTextField @bind-Value="searchString1" Variant="MudBlazor.Variant.Outlined"Placeholder="Pesquisar" Adornment="Adornment.Start" AdornmentColor="Color.Primary" AdornmentIcon="@Icons.Material.Filled.Search"  IconSize="Size.Medium" Margin="Margin.Dense" Class="mt-2 mr-1"></MudTextField>
    </ToolBarContent>

    @* DIMENSÕES DE CADA COLUNA *@
    <ColGroup>
        @* DESCRIÇÃO *@
        <col style="width:21%;" />
        @* TIPO *@
        <col style="width:7%;" />
        @* VALOR *@
        <col style="width:15%;" />
        @* CATEGORIA *@
        <col style="width:15%;" />
        @* DATA *@
        <col style="width:12%;" />
        @* RECORRÊNCAI *@
        <col style="width:30%;" />

    </ColGroup>

    @* CABEÇALHO *@
    <HeaderContent>
        @* DESCRIÇÃO *@
        <MudTh>
            <MudTableSortLabel SortBy="new Func<Transacao, object>(x=>x.Descricao)">
                <MudContainer Class="pa-0 ma-0 d-flex">
                    <MudIcon Icon=@Icons.Material.Filled.Description Class="ma-0" style="padding-bottom: 2px;" Size="Size.Medium" />
                    <MudText Class="ma-0 pa-0 ml-1"><b>Descrição</b></MudText>
                </MudContainer>
            </MudTableSortLabel>
        </MudTh>

        @* TIPO *@
        <MudTh>
            <MudTableSortLabel SortBy="new Func<Transacao, object>(x=>x.Tipo)">
                <MudContainer Class="pa-0 ma-0 d-flex">
                    <MudIcon Icon=@Icons.Material.Filled.ImportExport Class="ma-0" style="padding-bottom: 2px;" Size="Size.Medium" />
                    <MudText Class="ma-0 pa-0 ml-1"><b>Tipo</b></MudText>
                </MudContainer>
            </MudTableSortLabel>
        </MudTh>

        @* VALOR *@
        <MudTh>
            <MudTableSortLabel SortBy="new Func<Transacao, object>(x=>x.Valor)">
                <MudContainer Class="pa-0 ma-0 d-flex">
                    <MudIcon Icon=@Icons.Material.Filled.AttachMoney Class="ma-0" style="padding-bottom: 2px;" Size="Size.Medium" />
                    <MudText Class="ma-0 pa-0 ml-1"><b>Valor</b></MudText>
                </MudContainer>
            </MudTableSortLabel>
        </MudTh>

        @* CATEGORIA *@
        <MudTh>
            <MudTableSortLabel SortBy="new Func<Transacao, object>(x=>x.CategoriaId)">
                <MudContainer Class="pa-0 ma-0 d-flex">
                    <MudIcon Icon=@Icons.Material.Filled.Category Class="ma-0" style="padding-bottom: 2px;" Size="Size.Medium" />
                    <MudText Class="ma-0 pa-0 ml-1"><b>Categoria</b></MudText>
                </MudContainer>
            </MudTableSortLabel>
        </MudTh>

        @* DATA DA TRANSAÇÃO *@
        <MudTh>
            <MudTableSortLabel SortBy="new Func<Transacao, object>(x=>x.DataTransa)">
                <MudContainer Class="pa-0 ma-0 d-flex">
                    <MudIcon Icon=@Icons.Material.Filled.CalendarMonth Class="ma-0" style="padding-bottom: 2px;" Size="Size.Medium" />
                    <MudText Class="ma-0 pa-0 ml-1"><b>Data</b></MudText>
                </MudContainer>
            </MudTableSortLabel>
        </MudTh>

        @* RECORRÊNCIA *@
        <MudTh>
            <MudTableSortLabel SortBy="new Func<Transacao, object>(x=>x.Recorrencia)">
                <MudContainer Class="pa-0 ma-0 d-flex">
                    <MudIcon Icon=@Icons.Material.Filled.Autorenew Class="ma-0" style="padding-bottom: 2px;" Size="Size.Medium" />
                    <MudText Class="ma-0 pa-0 ml-1"><b>Recorrência</b></MudText>
                </MudContainer>
            </MudTableSortLabel>
        </MudTh>
 
    </HeaderContent>

    @* CONTEÚDO *@
    <RowTemplate>
        <MudTd DataLabel="Descrição">
            <b>@context.Descricao</b>
        </MudTd>

        <MudTd DataLabel="Tipo">
            <MudContainer Class="pa-0 ma-0 d-flex">
                <MudIcon Icon=@(@context.Tipo==true ? @Icons.Material.Filled.ArrowDropUp : @Icons.Material.Filled.ArrowDropDown) Color=@Tipo(@context.Tipo) Size="Size.Small" />
                <MudText Class="ml-2" Typo="Typo.subtitle2" Color=@Tipo(@context.Tipo)><b>@(@context.Tipo==true ? "Receita" : "Despesa")</b></MudText>
            </MudContainer>
        </MudTd>

        <MudTd DataLabel="Valor">
            <MudText Color=@Tipo(@context.Tipo) >
                <b>@valor(@context.Valor)</b>
            </MudText>
        </MudTd>

        <MudTd DataLabel="Categoria">
            <MudContainer Class="pa-0 ma-0 d-flex">
                <MudIcon Icon=@CategoriaIcone(@context.CategoriaId) Color="Color.Default" Size="Size.Small" />
                <MudText Class="ml-2" Typo="Typo.subtitle2"><b>@CategoriaTexto(@context.CategoriaId)</b></MudText>
            </MudContainer>
        </MudTd>

        <MudTd DataLabel="Data da Transação">
            <b>@context.DataTransa?.ToString("dd/MM/yyyy")</b>
        </MudTd>

        <MudTd DataLabel="Recorrência">
            <b>@Recorrencia(@context.Recorrencia)</b>
        </MudTd>

    </RowTemplate>

    @* CAMPOS PARA EDIÇÃO DE LINHA *@
    <RowEditingTemplate>

        @* EDIÇÃO DE DESCRIÇÃO *@
        <MudTd DataLabel="Descrição">
            <MudTextField @bind-Value="@context.Descricao" Required Variant="MudBlazor.Variant.Outlined" Margin="Margin.Dense"/>
        </MudTd>

        @* EDIÇÃO DE TIPO *@
        <MudTd DataLabel="Tipo">
            <MudContainer Class="d-flex pl-0 pt-1">
                <MudSwitch
                    @bind-Value="@context.Tipo"
                    ThumbIcon="@(@context.Tipo==true ? Icons.Material.Filled.AttachMoney : Icons.Material.Filled.MoneyOff)"
                    ThumbIconColor="@(@context.Tipo==true ? Color.Success : Color.Error)" Size="Size.Medium">

                    <MudText Color=@Tipo(@context.Tipo) Typo="Typo.body2" >
                        <b>@(@context.Tipo==true ? "Receita" : "Despesa")</b>
                    </MudText>
                    
                </MudSwitch>

                @* <MudToggleIconButton @bind-Toggled="@context.Tipo"
                        Icon="@Icons.Material.Filled.MoneyOff" Color="@Color.Error" Title="Off"
                        ToggledIcon="@Icons.Material.Filled.AttachMoney" ToggledColor="@Color.Success" Size="Size.Small" ToggledSize="Size.Small" ToggledTitle="On"/> *@

                

                @* <MudCheckBox @bind-Value="@context.Tipo"
                    Color="Color.Success"
                    UnCheckedColor="Color.Error"
                    Size="Size.Medium"
                    CheckedIcon="@Icons.Material.Filled.AttachMoney"
                    UncheckedIcon="@Icons.Material.Filled.MoneyOff">
                    
                </MudCheckBox> *@


                
            </MudContainer>
        </MudTd>

        @* EDIÇÃO DE VALOR *@
        <MudTd DataLabel="Valor">
            <MudTextField @bind-Value="@context.Valor" Required Variant="MudBlazor.Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.AttachMoney" Margin="Margin.Dense"/>
        </MudTd>

        @* EDIÇÃO DE CATEGORIA *@
        <MudTd DataLabel="Categoria">
            <MudSelect @bind-Value="@context.CategoriaId" T="int" Placeholder="Ex: Salary" AnchorOrigin="Origin.BottomCenter" Required Variant="MudBlazor.Variant.Outlined" Margin="Margin.Dense">

                        <MudSelectItem Value="0" >
                            <MudContainer Class="pa-0 ma-0 d-flex">
                                <MudIcon Icon="@Icons.Material.Filled.LocalAtm" Size="Size.Small" />
                                <MudText Class="ml-2">Salário</MudText>
                            </MudContainer>
                        </MudSelectItem>

                        <MudSelectItem Value="1" >
                            <MudContainer Class="pa-0 ma-0 d-flex">
                                <MudIcon Icon="@Icons.Material.Filled.LocalAtm" Size="Size.Small" />
                                <MudText Class="ml-2">Benefícios</MudText>
                            </MudContainer>
                        </MudSelectItem>

                        <MudSelectItem Value="2" >
                            <MudContainer Class="pa-0 ma-0 d-flex">
                                <MudIcon Icon="@Icons.Material.Filled.LocalHospital" Size="Size.Small" />
                                <MudText Class="ml-2">Saúde</MudText>
                            </MudContainer>
                        </MudSelectItem>

                        <MudSelectItem Value="3" >
                            <MudContainer Class="pa-0 ma-0 d-flex">
                                <MudIcon Icon="@Icons.Material.Filled.LocalDining" Size="Size.Small" />
                                <MudText Class="ml-2">Alimentação</MudText>
                            </MudContainer>
                        </MudSelectItem>

                        <MudSelectItem Value="4" >
                            <MudContainer Class="pa-0 ma-0 d-flex">
                                <MudIcon Icon="@Icons.Material.Filled.ShoppingBag" Size="Size.Small" />
                                <MudText Class="ml-2">Compras</MudText>
                            </MudContainer>
                        </MudSelectItem>

                        <MudSelectItem Value="5" >
                            <MudContainer Class="pa-0 ma-0 d-flex">
                                <MudIcon Icon="@Icons.Material.Filled.Spoke" Size="Size.Small" />
                                <MudText Class="ml-2">Outros</MudText>
                            </MudContainer>
                        </MudSelectItem>
            </MudSelect>
        </MudTd>

        @* EDIÇÃO DE DATA *@
        <MudTd DataLabel="Data">
            <MudDatePicker @bind-Date="@context.DataTransa" DateFormat="dd/MM/yyyy" Editable="true" DisableToolbar="true" Required Variant="MudBlazor.Variant.Outlined" Margin="Margin.Dense"/>
        </MudTd>

        @* EDIÇÃO DE RECORRÊNCIA *@
        <MudTd DataLabel="Recorrência">
            <MudContainer Class="pl-8 pr-7">
                <MudSlider @bind-Value="@context.Recorrencia" Class="pa-0 ma-0" TickMarks="true" TickMarkLabels="@labels" Step="25" Size="Size.Small" />
            </MudContainer>
        </MudTd>

    </RowEditingTemplate>

    @* PAGINAÇÃO *@
    <PagerContent>
        <MudTablePager />
    </PagerContent>

    @* BOTÃO DE EDIÇÃO DE LINHA *@
    <EditButtonContent Context="button">
        <MudContainer Class="pa-0 d-flex">
            <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Filled.Edit" OnClick="@button.ButtonAction" Disabled="@button.ButtonDisabled" />
            <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Filled.Delete" @onclick="()=> ConfirmaExclusao_Dialog(currentlyHoveredElement)" Class="ml-3" Disabled="@button.ButtonDisabled" />
        </MudContainer>
    </EditButtonContent>

</MudTable>

@* CÓDIGO *@
@code { 
    DateTime? date = DateTime.Today;
    // ---------------------------------- DADOS -----------------------------------------------

    // CRIAÇÃO DE DADOS DE TESTE
    private List<Transacao> Transacoes = new List<Transacao>(){
        new Transacao(1, 1, "Conta de Luz", 455.0, 0, 0, false, DateTime.Today),
        new Transacao(2, 1, "Netefelix", 500.0, 1, 25, false, DateTime.Today),
        new Transacao(3, 1, "Academia", 254.0, 2, 50, true, DateTime.Today),
        new Transacao(4, 1, "Aluguel", 76.78, 3, 75, false, DateTime.Today),
        new Transacao(5, 1, "Imposto de Renda", 37.40, 5, 25, true, DateTime.Today),
        new Transacao(6, 1, "IPVA", 76.78, 3, 0, false, DateTime.Today),
        new Transacao(7, 1, "IPTU", 37.40, 4, 100, true, DateTime.Today),
        new Transacao(8, 1, "Salário", 76.78, 3, 100, false, DateTime.Today),
        new Transacao(9, 1, "Dividendos", 37.40, 4, 50, true, DateTime.Today),
        new Transacao(10, 1, "Agiotagem", 76.78, 3, 50, false, DateTime.Today),
        new Transacao(11, 1, "Pensão Alimentícia", 37.40, 2, 25, true, DateTime.Today),
        new Transacao(12, 1, "Abastecimento", 45.00, 5, 0, true, DateTime.Today)
    };


    // --------------------------------- PESQUISA ----------------------------------------------

    // VARIÁVEL QUE GUARDA A STRING DE BUSCA
    private string searchString1 = "";

    // FUNÇÕES PARA PESQUISA
    private bool FilterFunc1(Transacao transacao) => FilterFunc(transacao, searchString1);
    private bool FilterFunc(Transacao transacao, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (transacao.Descricao.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (transacao.Valor.ToString().Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (CategoriaTexto(transacao.CategoriaId).Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        return false;
    }
    


    // ---------------------------------- EDIÇÃO -----------------------------------------------   

    // ITENS SELECIONADOS
    private Transacao? selectedItem1;
    private HashSet<Transacao> selectedItems1 = new HashSet<Transacao>();

    // ELEMENTO ANTES DA EDIÇÃO
    private Transacao? trasacaoBeforeEdit;

    // BACKUP DO ITEM
    private void BackupItem(object transacao)
    {   
        DateTime dataNaoNulavel;
        dataNaoNulavel = ((Transacao)transacao).DataTransa ?? DateTime.Today;

        trasacaoBeforeEdit = new(
            ((Transacao)transacao).Id,
            ((Transacao)transacao).UsuarioId,
            ((Transacao)transacao).Descricao,
            ((Transacao)transacao).Valor,
            ((Transacao)transacao).CategoriaId,
            ((Transacao)transacao).Recorrencia,
            ((Transacao)transacao).Tipo,
            dataNaoNulavel
        );
    }

    // RESETAR ITENS PARA OS VALORES ORIGINAIS
    private void ResetItemToOriginalValues(object transacao)
    {
        ((Transacao)transacao).Id = trasacaoBeforeEdit.Id;
        ((Transacao)transacao).UsuarioId = trasacaoBeforeEdit.UsuarioId;
        ((Transacao)transacao).Descricao = trasacaoBeforeEdit.Descricao;
        ((Transacao)transacao).Valor = trasacaoBeforeEdit.Valor;
        ((Transacao)transacao).CategoriaId = trasacaoBeforeEdit.CategoriaId;
        ((Transacao)transacao).Recorrencia = trasacaoBeforeEdit.Recorrencia;
        ((Transacao)transacao).Tipo = trasacaoBeforeEdit.Tipo;
        ((Transacao)transacao).DataTransa = trasacaoBeforeEdit.DataTransa;
    }

    public bool Basic_Switch1 { get; set; } = false;

    string[] labels = new string[] { "Nenhuma","Diário", "Semanal", "Mensal", "Anualmente"};


    // ----------------------------- IMPRESSÃO DA LISTA -----------------------------------------    

    // FORMATA O CAMPO 'CATEGORIA', ALTERA O TEXTO DE ACORDO COM O CÓDIGO
    private string CategoriaTexto(int IdCategoria)
    {
        switch(IdCategoria) 
        {
        case 0:
            // Salário
            return "Salário";
        case 1:
            // Benefícios
            return "Benefícios";
        case 2:
            // Saúde
            return "Saúde";
        case 3:
            // Alimentação
            return "Alimentação";
        case 4:
            // Compras
            return "Compras";
        case 5:
            // Outros
            return "Outros";
        default:
            return "???";
        }
    }
    
    // FORMATA O CAMPO 'CATEGORIA', ADICIONA O ÍCONE DE ACORDO COM O CÓDIGO
    private string CategoriaIcone(int IdCategoria)
    {
        switch(IdCategoria) 
        {
        case 0:
            // Salário
            return @Icons.Material.Filled.LocalAtm;
        case 1:
            // Benefícios
            return @Icons.Material.Filled.LocalAtm;
        case 2:
            // Saúde
            return @Icons.Material.Filled.LocalHospital;
        case 3:
            // Alimentação
            return @Icons.Material.Filled.LocalDining;
        case 4:
            // Compras
            return @Icons.Material.Filled.ShoppingBag;
        case 5:
            // Outros
            return @Icons.Material.Filled.Spoke;
        default:
            return "???";
        }
    }
    
    // FORMATA O CAMPO 'RECORRÊNCIA' DE ACORDO COM O CÓDIGO
    private string Recorrencia(int IdRecorrencia)
    {
        switch(IdRecorrencia) 
        {
        case 0:
            // code block
            return "Nenhuma";
        case 25:
            // code block
            return "Diária";
        case 50:
            // code block
            return "Semanal";
        case 75:
            // code block
            return "Mensal";
        case 100:
            // code block
            return "Anual";
        default:
            return "???";
        }
    }
    
    // FORMATA A COR DO CAMPO 'VALOR' DE ACORDO COM O TIPO DE TRANSAÇÃO
    private Color Tipo(bool TipoTransa)
    {
        if(TipoTransa == false){
            return Color.Error;
        }else{
            return Color.Success;
        }

    }
    
    // FORMATA O CAMPO 'VALOR' PARA O FORMATO DE DINHEIRO
    private string valor(double Valor)
    {
        return Valor.ToString("C");
    }
    


    // ----------------------------- DIÁLOGO DE CRIAÇÃO -----------------------------------------   

    // ABRE DIÁLOGO
    private void CriarTransa_Dialog()
    {
        MudBlazor.DialogOptions closeOnEscapeKey = new MudBlazor.DialogOptions()
            {
                CloseOnEscapeKey = true,
                MaxWidth = MaxWidth.Medium,
                FullWidth = true
            };
        DialogService.Show<NewTransaction_Dialog>("New Transaction", closeOnEscapeKey);
    }

    // -------------------------- GERENCIAMENTO DE EVENTOS --------------------------------------   

    private int? currentlyHoveredElement;
    private int? lastHoveredElement;

    private void RowMouseEnterEvent(TableRowHoverEventArgs<Transacao> eventArgs)
    {
        currentlyHoveredElement = eventArgs.Item.Id;
    }

    private void RowMouseLeaveEvent(TableRowHoverEventArgs<Transacao> eventArgs)
    {
        currentlyHoveredElement = null;
        lastHoveredElement = eventArgs.Item.Id;
    }

    // ----------------------------- DIÁLOGO DE EXCLUSÃO -----------------------------------------   

    async Task ConfirmaExclusao_Dialog(int? id)
    {
        MudBlazor.DialogOptions closeOnEscapeKey = new MudBlazor.DialogOptions()
        {
            CloseOnEscapeKey = true,
            MaxWidth = MaxWidth.Medium,
            FullWidth = true
        };

        //DialogService.Show<ConfirmExclusion_Dialog>("Confirma Exclusão", parameters, closeOnEscapeKey);

        var dialog = await DialogService.ShowAsync<ConfirmExclusion_Dialog>("Confirma Exclusão");

        var result = await dialog.Result;

        if (!result.Canceled)
        {
            DeletaItem(id);
        }
    }

    // ----------------------------- FUNÇÃO DE EXCLUSÃO ------------------------------------------   

    private void DeletaItem(int? IDtransacao){
        // Remove todos com esse ID
        Transacoes.RemoveAll(x => x.Id == IDtransacao);
    }

    const string real = @"<svg viewBox='0 0 122.88 98'><title>brazil-real</title><path d='M87.71,88.84l-1-.06q-3.37-.21-6.65-.64t-6.27-1q-3-.53-5.79-1.28V69.37q3.64.33,7.88.54c2.83.14,5.68.25,8.58.32s5.59.11,8.1.11a27,27,0,0,0,5.89-.54A7.12,7.12,0,0,0,102,68.09a4.34,4.34,0,0,0,1.18-3.22V63.58a4,4,0,0,0-1.66-3.53,6.56,6.56,0,0,0-3.91-1.18H91.89Q79.45,58.87,73,53.4T66.59,35.06V31.52q0-11.79,7.07-17.63,5.3-4.36,14-5.47V0H99.29V8.18c1.45.08,2.87.2,4.24.34Q108,9,111.89,9.7t7,1.45V27.66c-3.29-.28-7-.51-11.1-.69s-7.84-.27-11.2-.27a29.76,29.76,0,0,0-5.36.43,6.74,6.74,0,0,0-3.65,1.71,5.09,5.09,0,0,0-1.28,3.76v1.07A4.94,4.94,0,0,0,88,37.74a8.26,8.26,0,0,0,5.26,1.4h7.07q7.52,0,12.49,2.84a18.54,18.54,0,0,1,7.51,7.72,23.82,23.82,0,0,1,2.52,11.1v3.54q0,10.18-3.54,15.54a17.35,17.35,0,0,1-10.08,7.24,50,50,0,0,1-10,1.68V98H87.71V88.84ZM0,88.35V8.69H34A34.19,34.19,0,0,1,43.64,10a18.44,18.44,0,0,1,7.61,4.34,20.08,20.08,0,0,1,5,8.21,40.4,40.4,0,0,1,1.77,13,37.9,37.9,0,0,1-.86,8.58,23.06,23.06,0,0,1-2.3,6.17,16.25,16.25,0,0,1-3.44,4.23,26.38,26.38,0,0,1-4.23,3L61,88.35H39.89L28.74,60.9H20.8V88.35Zm20.8-44h9.44a8.58,8.58,0,0,0,3-.48,5.24,5.24,0,0,0,2.2-1.56,6.72,6.72,0,0,0,1.34-2.73,16.6,16.6,0,0,0,.43-4,15.94,15.94,0,0,0-.43-4,5.14,5.14,0,0,0-3.54-3.86,9.69,9.69,0,0,0-3-.43H20.8V44.39Z'/></svg>";


}