﻿<MudNavMenu Bordered="true" Color="Color.Surface">

    <MudNavLink IconColor="Color.Surface" Href="personal" Match="NavLinkMatch.Prefix">
        <div class="pa-2 ma-0 d-flex align-content-center justify-content-start">
            <MudAvatar Size="Size.Medium" Color="Color.Tertiary" Class="pa-0 ma-0" style="position: absolute; left: 9px; bottom: 8px;">V</MudAvatar>
            <MudText Class="align-self-center ml-5"><b>Usuário</b></MudText>
        </div>
    </MudNavLink>

    <MudNavLink IconColor="Color.Surface" Href="settings" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Settings" style="">
        <b>Configurações</b>
    </MudNavLink>

    <MudNavLink  IconColor="Color.Surface" @onclick="() => LoginBTN(typeof(Layout.Before_Login_Layouts.BeforeLoginLayout))" Href="login" Icon="@Icons.Material.Filled.Logout">
        <b>Sair</b>
    </MudNavLink>

    <MudDivider/>

    <MudNavLink IconColor="Color.Surface" Match="NavLinkMatch.Prefix" OnClick="@ToggleDarkMode" Icon="@Icons.Material.Filled.DarkMode" style="">
        <b>Darkmode</b>
    </MudNavLink>

</MudNavMenu>

@code{
    @* RECEBENDO O VALOR DA HIERARQUIA ACIMA *@
    [CascadingParameter(Name = "N2")] protected FrontEnd_CDN.Components.Routes? MyApp { get; set; }

    @* RECEBENDO O VALOR DA HIERARQUIA ACIMA *@
    [Parameter] public bool isDarkMode { get; set; }

    [Parameter] public EventCallback <bool> isDarkModeChanged { get; set; }

    void LoginBTN(Type layoutType)
    {
        MyApp?.SetLayout(layoutType);
    }

    private async Task ToggleDarkMode()
    {   
        isDarkMode = !isDarkMode;
        await isDarkModeChanged.InvokeAsync(isDarkMode);
    }
}