﻿@page "/dashboard"
@using FrontEnd_CDN.Components.Layout
@using FrontEnd_CDN.Components.Layout.Mostradores

<MudContainer Class="px-8" MaxWidth="MaxWidth.False">
    <MudText Typo="Typo.h4" Class="pb-4"><b>Dashboard</b></MudText>
    
    <MudGrid>
        @* SALDO ATUAL *@
        <MudItem xs="12" sm="6" md="3">
            <MudPaper Class="pa-4" Outlined="true"  Style="height: 8em; border-radius: 1em; background-color: var(--mud-palette-primary);" >

                <MudTooltip Text="Valor atualizado do saldo da carteira." Arrow="true" Placement="Placement.Top">
                    <MudContainer Class="pa-0 ma-0 d-flex">
                        <MudIcon Icon="@Icons.Material.Filled.AccountBalanceWallet" Style="font-size: 2rem; color: rgba(255,255,255,1);" />
                        <MudText Class="ml-2" Typo="Typo.h5" style="color: rgba(255,255,255,1);">Saldo Atual</MudText>
                    </MudContainer>
                </MudTooltip>

                <MudContainer Class="pa-0 ma-0">
                    <MostradorSaldoAtual />
                </MudContainer>

            </MudPaper>
        </MudItem>

        @* RECEITAS *@
        <MudItem xs="12" sm="6" md="3">
            <MudPaper Outlined="true" Class="pa-4" Style="height: 8em; border-radius: 1em; border-color: rgb(0,163,68);">
                <MudTooltip Text="Somatório de todas as receitas do mês." Arrow="true" Placement="Placement.Top">

                <MudContainer Class="pa-0 ma-0 d-flex">
                    <MudIcon Icon="@Icons.Material.Filled.AttachMoney" Style="font-size: 2rem; color: rgb(0,163,68);" />
                    <MudText Class="ml-2" Typo="Typo.h5" style="color: rgb(0,163,68);">Receitas</MudText>
                </MudContainer>

                </MudTooltip>
                <MudContainer Class="pa-0 ma-0">
                    <MostradorEntradas />
                </MudContainer>
            </MudPaper>
        </MudItem>

        @* DESPESAS *@
        <MudItem xs="12" sm="6" md="3">
            <MudPaper Outlined="true" Class="pa-4" Style="height: 8em; border-radius: 1em; border-color: rgb(246,96,85);">
                <MudTooltip Text="Somatório de todas as despesas do mês." Arrow="true" Placement="Placement.Top">
                <MudContainer Class="pa-0 ma-0 d-flex">
                    <MudIcon Icon="@Icons.Material.Filled.MoneyOff" Style="font-size: 2rem; color: rgb(246,96,85);" />
                    <MudText Class="ml-2" Typo="Typo.h5" style="color: rgb(246,96,85);">Despesas</MudText>
                </MudContainer>
                </MudTooltip>
                <MudContainer Class="pa-0 ma-0">
                    <MostradorSaidas />
                </MudContainer>
            </MudPaper>
        </MudItem>

        @* ECONOMIAS *@
        <MudItem xs="12" sm="6" md="3">
            <MudPaper Outlined="true" Class="pa-4" Style="height: 8em; border-radius: 1em; border-color: rgb(12,128,223);">
                <MudTooltip Text="Diferença entre todas as receitas e despesas do mês." Arrow="true" Placement="Placement.Top">
                <MudContainer Class="pa-0 ma-0 d-flex">
                    <MudIcon Icon="@Icons.Material.Filled.Wallet" Style="font-size: 2rem; color: rgb(12,128,223);" />
                    <MudText Class="ml-2" Typo="Typo.h5" style="color: rgb(12,128,223);">Economias</MudText>
                </MudContainer>
                </MudTooltip>
                <MudContainer Class="pa-0 ma-0">
                    <MostradorDiferenca />
                </MudContainer>
            </MudPaper>
        </MudItem>

        @* EVOLUÇÃO DE SALDO *@
        <MudItem xs="12" sm="6" md="9">
            <MudPaper Outlined="true" Class="pa-4 d-flex flex-column ma-0" Style="height: 35em; border-radius: 1em;">
                <MudContainer Class="pa-0 ma-0 d-flex">
                    <MudIcon Icon="@Icons.Material.Filled.TrendingUp" Style="font-size: 2rem;" />
                    <MudText Class="ml-2" Typo="Typo.h5">Evolução do Saldo</MudText>
                </MudContainer>

                <MudContainer Class="pa-0 flex-grow-1 ma-0 pl-8" style="width: 100%; max-width: unset; max-height: unset;">
                    <GraficoEvolucaoSaldo />
                </MudContainer>
            </MudPaper>
        </MudItem>

        @* MAIORES DESPESAS - GRÁFICO PIZZA *@
        @* <MudItem xs="12" sm="6" md="3">
            <MudPaper Outlined="true" Class="pa-4" Style="height: 35em; border-radius: 1em;">
                <MudContainer Class="pa-0 ma-0 d-flex">
                    <MudIcon Icon="@Icons.Material.Filled.PieChart" Style="font-size: 2rem;" />
                    <MudText Class="ml-2" Typo="Typo.h5">Maiores Despesas</MudText>
                </MudContainer>

                <MudContainer Class="pa-0 flex-grow-1 ma-0 d-flex" style="width: 100%; max-width: unset; max-height: unset; background-color: ; height: 85%;">
                    <MarioresDespesas/>
                </MudContainer>
            </MudPaper>
        </MudItem> *@

        @* ÚLTIMAS TRANSAÇÕES *@
        <MudItem xs="12" sm="6" md="3">
            <MudPaper Outlined="true" Class="pa-4" Style="height: 35em; border-radius: 1em;">
                <MudContainer Class="pa-0 ma-0 d-flex">
                    <MudIcon Icon="@Icons.Material.Filled.FormatListNumbered" Style="font-size: 2rem;" />
                    <MudText Class="ml-2" Typo="Typo.h5">Ultimas Transações</MudText>
                </MudContainer>

                <MudContainer Class="pa-0 flex-grow-1 ma-0 d-flex" style="width: 100%; max-width: unset; max-height: unset; background-color: ; height: 85%;">
                    <UltimasTransacoes />
                </MudContainer>

                <MudButton Href="transactions" Variant="MudBlazor.Variant.Filled" style="width: 100%;" DisableElevation="true" Color="Color.Primary">MOSTRAR TODAS</MudButton>
            </MudPaper>
        </MudItem>

        @* MAIORES RECEITAS *@
        <MudItem xs="12" sm="6" md="6">
            <MudPaper Outlined="true" Class="pa-4" Style="height: 13em; border-radius: 1em;">
                <MudContainer Class="pa-0 ma-0 d-flex">
                    <MudIcon Icon="@Icons.Material.Filled.ArrowUpward" Style="font-size: 2rem;" />
                    <MudText Class="ml-2" Typo="Typo.h5">Maiores Receitas</MudText>
                </MudContainer>

                <MudContainer Class="pa-0 flex-grow-1 ma-0 d-flex" style="width: 100%; max-width: unset; max-height: unset; background-color: ; height: 85%;">
                    <MaioresReceitas/>
                </MudContainer>

            </MudPaper>
        </MudItem>

        @* MAIORES DESPESAS *@
        <MudItem xs="12" sm="6" md="6">
            <MudPaper Outlined="true" Class="pa-4" Style="height: 13em; border-radius: 1em;">
                <MudContainer Class="pa-0 ma-0 d-flex">
                    <MudIcon Icon="@Icons.Material.Filled.ArrowDownward" Style="font-size: 2rem;" />
                    <MudText Class="ml-2" Typo="Typo.h5">Maiores Despesas</MudText>
                </MudContainer>

                <MudContainer Class="pa-0 flex-grow-1 ma-0 d-flex" style="width: 100%; max-width: unset; max-height: unset; background-color: ; height: 85%;">
                    <MaioresReceitas/>
                </MudContainer>

            </MudPaper>
        </MudItem>
    </MudGrid>

</MudContainer>

@code{
    
}