﻿@page "/settings"


<MudContainer Class="px-8" MaxWidth="MaxWidth.False">
    <MudText Typo="Typo.h4" Class="pb-4"><b>Settings</b></MudText>

    <MudExpansionPanels Elevation="0">

        <MudExpansionPanel style="border: 1px solid var(--mud-palette-lines-default); border-radius: 1em; margin-top: 1em;">
            <TitleContent>
                <div class="d-flex">
                    <MudIcon Icon="@Icons.Material.Filled.Info" class="mr-3"></MudIcon>
                    <MudText>Configurações de Alfa</MudText>
                </div>
            </TitleContent>
            <ChildContent>
                Panel Content
            </ChildContent>
        </MudExpansionPanel>

        <MudExpansionPanel style="border: 1px solid var(--mud-palette-lines-default); border-radius: 1em; margin-top: 1em;">
            <TitleContent>
                <div class="d-flex">
                    <MudIcon Icon="@Icons.Material.Filled.Info" class="mr-3"></MudIcon>
                    <MudText>Configurações de Beta</MudText>
                </div>
            </TitleContent>
            <ChildContent>
                Panel Content
            </ChildContent>
        </MudExpansionPanel>

        <MudExpansionPanel style="border: 1px solid var(--mud-palette-lines-default); border-radius: 1em; margin-top: 1em;">
            <TitleContent>
                <div class="d-flex">
                    <MudIcon Icon="@Icons.Material.Filled.Info" class="mr-3"></MudIcon>
                    <MudText>Configurações de Gama</MudText>
                </div>
            </TitleContent>
            <ChildContent>
                Panel Content
            </ChildContent>
        </MudExpansionPanel>

        <MudExpansionPanel style="border: 1px solid var(--mud-palette-lines-default); border-radius: 1em; margin-top: 1em;">
            <TitleContent>
                <div class="d-flex">
                    <MudIcon Icon="@Icons.Material.Filled.Info" class="mr-3"></MudIcon>
                    <MudText>Configurações de Theta</MudText>
                </div>
            </TitleContent>
            <ChildContent>
                Panel Content
            </ChildContent>
        </MudExpansionPanel>

    </MudExpansionPanels>

</MudContainer>