﻿@page "/transactions"
@using FrontEnd_CDN.Components.Layout
@using FrontEnd_CDN.Components.Layout.After_Login_Layouts
@inject IDialogService DialogService

<MudContainer Class="px-8" MaxWidth="MaxWidth.False">
    <MudText Typo="Typo.h4" Class="pb-4">
        <b>Movimentamento</b>
    </MudText>

    <TesteTransaTable />

</MudContainer>

@code {

}
