﻿@page "/wallet"


<MudContainer Class="px-8" MaxWidth="MaxWidth.False">
    <MudText Typo="Typo.h4" Class="pb-4"><b>Wallet</b></MudText>

    <MudGrid>

        <MudItem xs="12" sm="6" md="3">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 200px;">
                <MudText Typo="Typo.h6">Balance</MudText>
            </MudPaper>
        </MudItem>

        <MudItem xs="12" sm="6" md="3">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 200px;">
                <MudText Typo="Typo.h6">Income</MudText>
            </MudPaper>
        </MudItem>

        <MudItem xs="12" sm="6" md="3">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 200px;">
                <MudText Typo="Typo.h6">Expenses</MudText>
            </MudPaper>
        </MudItem>

        <MudItem xs="12" sm="6" md="3">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 200px;">
                <MudText Typo="Typo.h6">Savings</MudText>
            </MudPaper>
        </MudItem>


        <MudItem xs="12" sm="6" md="8">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 500px;"><MudText Typo="Typo.h6">Patrimony Evolution</MudText></MudPaper>
        </MudItem>

        <MudItem xs="12" sm="6" md="4">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 500px;"><MudText Typo="Typo.h6">Credit Card Activity</MudText></MudPaper>
        </MudItem>

        

        <MudItem xs="12" sm="6" md="4">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 300px;">
                <MudText Typo="Typo.h6">Activity</MudText>
            </MudPaper>
        </MudItem>

        <MudItem xs="12" sm="6" md="4">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 300px;">
                <MudText Typo="Typo.h6">Payments</MudText>
            </MudPaper>
        </MudItem>

        <MudItem xs="12" sm="12" md="4">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 300px;">
                <MudText Typo="Typo.h6">Recent Transaction</MudText>
            </MudPaper>
        </MudItem>

    </MudGrid>
</MudContainer>